**/*.fls
**/*.aux
**/*.acr
**/*.alg
**/*.log
**/*.ist
**/*.lof
**/*.lot
**/*.loa
**/*.out
**/*.synctex.gz
**/*.synctex(busy)
**/*.toc
**/*.ntn
**/*.brf
**/*.slg
**/*.not
**/*.blg
**/*.bbl
**/*.acn
**/*.fdb_latexmk
*This is the case of the
  Oxford PET dataset, where the labelers have good and similar levels
  of expertise.*/*.lyx
!Tesis.pdf
**/*.venv/