**/*.fls
**/*.aux
**/*.acr
**/*.alg
**/*.log
**/*.ist
**/*.lof
**/*.lot
**/*.out
**/*.synctex.gz
**/*.synctex(busy)
**/*.toc
**/*.ntn
**/*.brf
**/*.slg
**/*.not
**/*.blg
**/*.bbl
**/*.acn
**/*.fdb_latexmk
**/*.pdf
**/*.lyx
!Tesis.pdf